<% @exams.each do |exam| %>
  <h1>Exam History</h1>
  <div class="">
    <h3>Question:</h3>
    <p><%= exam.question %></p>
    <h3>Answer:</h3>
    <p><%= exam.answer %></p>
    <h3>Review:</h3>
    <p><%= exam.review %></p>
    <h3>Took at:</h3>
    <p><%= exam.created_at %></p>
    <hr>
  </div>
<% end %>
